@use '../../styles/variables' as *;
.dashboard{
    width: 30%;
    padding: 1rem;
    background-color: #F2F2F2;
    &__header{
        padding: 0 1rem;
        font-size: 1.1rem;
    }
    &__explore{
        padding: 1rem 0;
    }
}

.header{
    &__teams{
        display:flex;
        
    }
    &__link{
        margin: 1rem 0.5rem;
        display:flex;
        text-align: center;
        font-size: 1.5rem;
        color: $microsoft-blue;
        height: 1.75rem;
    }
    &__image-container{
        padding: 1rem 0;
        padding-right: 0.5rem;
    }
    &__image{
        width:2rem;
        height:2rem;
    }
}

.explore{
    &__title{
        font-size: 1.6rem;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid silver;
    }
    &__item-list{
        padding: 1rem 0;
    }
    &__item{
        display:flex;
        align-items: center;
        padding: 1rem;
        &:hover{
            background-color: lightgray;
            font-weight: 600;
        }
    }
    &__image-container{
        display: flex;
        padding-right: 0.5rem;
    }
    &__image{
        width: 2rem;
        
    }
    &__text{
        font-size:1.2rem;
        padding: 0 0.5rem;
    }
}